.profile__icon-edit {
  width: 10px;
  height: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .profile__icon-edit {
    width: 8px;
    height: 8px;
  }
}
