.elements__like-button {
  padding: 0;
  border: 0;
  width: 21px;
  height: 18px;
  background-image: url(../../../images/like-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.elements__like-button:hover {
  opacity: .6;
}
